@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background-start: theme("colors.zinc.300");
  --background-end: #fff;
}

body {
  color: --foreground;
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
